header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.task-status {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
  padding: 10px;
}

.completed {
  background-color: #f5f8f6; /* Verde claro */
  color: #155724; /* Verde escuro */

}

.completed fa-icon {
  color: #28a745; /* Verde mais forte para o ícone */
  font-size: 24px;
}